doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Create post
    body 
    div 
        form(action="/posts" method="post")
            label(for="title") Post title  
            input(type="text" id="title" name="title")
            label(for="body") Body 
            textarea(name="body" cols="30" rows="10")
            button(type="submit") Create new post 